# Build artifacts
build/
CMakeFiles/
*.o
*.a
*.so
*.dll

# macOS
.DS_Store

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
.venv/

# generated data and model
image_tensor.pt
model.pte

# executorch
third_party/executorch